<!DOCTYPE html>
<html>
<head>
  <title>Bulls and Cows</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>">
        <%= message %>
      </div>
    <% end %>
    
    <%= yield %>
  </div>

  <%= javascript_include_tag "validation" %>
</body>
</html>